<%= form_tag(static_results_path, method: "GET") do %>
  <%= label_tag :rent, "Fecha de inicio" %>
  <%= date_field :rent, :start %>
  <%= label_tag :rent, "Fecha de finalización" %>
  <%= date_field :rent, :end %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
