<table>
  <thead>
    <tr>
      <th>brand</th>
      <th>model</th>
      <th>family</th>
      <th>passengers</th>
      <th>trunk</th>
      <th>doors</th>
      <th>plate</th>
      <th>price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.family %></td>
        <td><%= car.passengers %></td>
        <td><%= car.trunk %></td>
        <td><%= car.doors %></td>
        <td><%= car.plate %></td>
        <td><%= car.price %></td>
        <td>
          <% car.rents.each do |rent| %>
            <p><%= rent.start.to_formatted_s(:db) %></p><br>
            <p><%= rent.end.strftime("%d %b %Y") %></p><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
